<p> Gracz: </p> <br>
<h5>{{ user.name | titlecase }} {{user.surname}} </h5>
<h5> Numer: {{ user.number }} </h5>

<p>Pozycja na boisku {{ user.pichRole }} </p>
<input type="text" [value]="user.name" #testParametr 
(keyup)="testFunc($event)">


<button (click)="changeFirstName(testParametr)">Change Name</button>
<p #p>{{ 10 - testParametr.value.length }} / 10 </p>

<pre>
    <p>{{ user | json }}</p>
</pre>
